.headShot {
    width: 100%; 
    height: 40vh; 
    object-fit: cover;
}
p {
    font-size: 1.25rem;
}

.about-section h2 {
    font-size: 2.5rem;
}

.about01 {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 20px;
}

.about-section {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.aboutLeft, .aboutRight {
    display: flex;
    flex-direction: column;
}

.aboutLeft {
    margin-right: 10px;
}

.btn-primary {
    background-color: #ffd34e;
    border-color: #ffd34e;
}

.btn-outline-primary {
    color: #ffd34e;
    border-color: #ffd34e;
}

@media (min-width: 768px) {

    .aboutLeft,
    .aboutRight {
        padding-right: 0%;
        padding-left: 0%;
    }

    .headShot {
        width: fit-content;
    }
}

@media (max-width: 991.98px) {
    .about01 {
        flex-direction: column;
    }

    .aboutRight {
        margin-top: 20px;
    }
}
